<h1>Applicacao</h1>
<app-header-component></app-header-component>
<router-outlet></router-outlet>
<div *ngIf = "clientePremium; else naopremium">
  <p>voce eh um cliente premium tem acesso a informacoes diferenciadas</p>
</div>

<ng-template #naopremium>
  Nao eh um cliente premium
</ng-template>
<ul *ngFor = "let valor of valores">
  <li>{{valor.id}} - {{valor.nome}} - {{valor.descricao}}</li>

</ul>
<label for="">nome</label>
<input [(ngModel)]="nome"/><br>
<label for="">descricao</label>
<input [(ngModel)]="texto"/><br>
<label for="">id</label>
<input [(ngModel)]="id"/><br>
<button (click)="adicionar()" >Adicionar Item</button>
